body, html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #091428;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
::-webkit-scrollbar {
  display: none;
}
