@font-face {
  font-family: lol;
  src: url(../style/font.otf);
}
.header {
  height: 12vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.logo {
  font-family: lol;
  font-size: 3.7rem;
  font-weight: 700;
  color: #C89B3C;
}